
h1 {
    color:navy;
}

h2 {
    color:maroon;
}

h4 {
    font-size:large;
    text-align:right;
    line-height:0;
    font-family:monospace;

}

a:hover { 
  background-color: yellow;
}

b:hover {
    color:red
}

div {
    font-family:inherit
}

p {
    font-size:large;
    color:navy;
    line-height:1.5
}

a {
    color:blue;
    font-size:inherit;
}

.highlight:hover {
    background-color:#f3f4e3;
    color:green
}