/* CSS File for VIP WebGen Site for mRNA-Seq Data Visualization */

#page-container {
  position: relative;
  min-height: 160vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* WebGen Title at top of app */

.PageTitle {
  font-family: "Roboto", sans-serif;
  color: #4db6ac;
  text-align: center;
  font-size: 45px;
  font-style: italic;
  margin-bottom: 28px;
  width: 100%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Loader */

.loader {
  position: absolute;
  left: 50%;
  top: 58%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4db6ac;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nav-wrapper {
  background-color: #4db6ac;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Select Boxes */

#cancerQuerySelectBox {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

#cancerTypeMultipleSelection {
  width: 90%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#geneOneQuerySelectBox {
  text-align: right;
  margin-bottom: 10px;
}

#geneOneMultipleSelection {
  width: 45%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#clinicalQuerySelectBox {
  text-align: left;
  margin-bottom: 10px;
}

#clinicalMultipleSelection {
  width: 45%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#geneTwoQuerySelectBox {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

#geneTwoMultipleSelection {
  width: 90%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

::placeholder {
  color: gray;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Buttons */

#mainWindowButtons {
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

#exampleButton {
  width: 15%;
  margin-left: 34.14%;
}

#submitButton {
  width: 15%;
  /* margin-right: 35%; */
  margin-left: 43%;
}

#downloadDataButtons {
  width: 15%;
  /* margin-right: 35%; */
  margin-left: 43%;
  margin-bottom: 1%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Tabs */

.tabs .indicator {
  background-color: #4db6ac;
} /*Color of underline*/

.tabs .tab a:hover,
.tabs .tab a.active {
  color: #4db6ac;
}

.tabs .tab a {
  color: #4db6ac;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#footer {
  background-color: #4db6ac;
  margin-top: 50%;
  position: relative;
  bottom: 0;
  width: 100%;
  /* height: 2.5rem; Footer height */
}

.page-footer {
  background-color: #4db6ac;
}
