/* CSS File for VIP WebGen Site for mRNA-Seq Data Visualization */

.PageTitle {
    font-family: 'Roboto', sans-serif;
    color: #4db6ac;
    text-align: center;
    font-size: 45px;
    font-style: italic;
    margin-bottom: 28px;
    width: 100%
}

.relevantLinks {
	float: left;
    padding-bottom: 10px;
    position: absolute;
	padding-top: 50px;
	text-align: center;
	bottom: 0px;
	width: 100%;
}

.nav-wrapper {
    background-color:#4db6ac;
}

.parent-container {
    padding-top: 250px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.child-container {
    flex: 1 300px;   /* Initial width of 600px/2
                      Grow to fill remaining space */
    min-width: 0;  
}

#left, #right {
    flex: 1;
    min-width: 0;
    background: #f55;
    padding: 15px 0;
    padding-left: 170px;
  }
  #right {
    background: #57f;
  }

  ::placeholder {
      color: black;
      font-weight: bold;
      text-align: center;
  }

  .homepage-button-container {
      display: flex;
      padding-top: 20px;
  }

  #homepage-button-container-left, #homepage-button-container-center, #homepage-button-container-right {
      min-width: 0;
  }

  #homepage-button-container-left, #homepage-button-container-right {
      flex-basis: 600px;
      background-color: red;
  }

  #homepage-button-container-center {
      flex: 1;
      padding-left: 125px;
      padding-right: 10%;
  }

