/* CSS File for VIP WebGen Site for mRNA-Seq Data Visualization */

.PageTitle {
    font-family: 'Roboto', sans-serif;
    color: #4db6ac;
    text-align: center;
    font-size: 45px;
    font-style: italic;
    margin-bottom: 28px;
    width: 100%
}

.loader {
    position: absolute;
    left: 50%;
    top: 60%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #4db6ac;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.CohortGenesInput {
	border: 1px solid #ccc;
    border-radius: 10px;
    width: 30%;
    font-size: 17px;
    text-align: center;
	padding: 4px 7px;
    outline: 1;
    display: block;
    margin: 0 auto;
    margin-bottom: 2px;
}

input#geneQuery.center-align {
    width: 50%;
}

.select-wrapper .caret{
    right: 25%;
}

.select-wrapper input.select-dropdown {
    width: 50%;
    text-align-last: center;
    left: 25%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }

.relevantLinks {
	float: left;
    padding-bottom: 10px;
    position: absolute;
	padding-top: 50px;
	text-align: center;
	bottom: 0px;
	width: 100%;
}

.nav-wrapper {
    background-color:#4db6ac;
}

.parent-container {
    padding-top: 250px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.child-container {
    flex: 1 300px;   /* Initial width of 600px/2
                      Grow to fill remaining space */
    min-width: 0;  
}

.select {
    padding: 5px 8px;
    width: 30%;
    border-radius: 5px;
    box-shadow: none;
    margin: 0 auto;
    position: relative;
    left: 0%;
    text-align-last: center
}

  ::placeholder {
      color: black;
      font-weight: bold;
      text-align: center;
  }

  .homepage-button-container {
      display: flex;
      padding-top: 20px;
  }

  #homepage-button-container-left, #homepage-button-container-center, #homepage-button-container-right {
      min-width: 0;
  }

  #homepage-button-container-left, #homepage-button-container-right {
      flex-basis: 600px;
      background-color: black;
  }

  #homepage-button-container-center {
      flex: 1;
      padding-left: 5%;
      padding-right: 5%;
  }

  #submit-options-button {
      width: 100%;
      height: 40px;
      border-radius: 5px;
  }

.tabs .indicator {
    background-color:#4db6ac;
} /*Color of underline*/

.tabs .tab a:hover, .tabs .tab a.active {
    color: #4db6ac;
}

.tabs .tab a{
    color: #4db6ac;
}

::placeholder {
    color: #000000;
    font-weight: 700;
    text-align: center;
}

#cancerQuerySelectBox {
    margin-bottom: 10px;
    margin-top: 10px;
}

#geneQuerySelectBox {
    margin-bottom: 10px;
}

#mainWindowButtonDiv {
    display: table;
    margin: 0 auto;
    border: 1px solid black;
}

#mainWindowExampleButton {
    border: 1px solid red;
    width:100%
}

#mainWindowButtons {
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

#exampleButton {
    width: 15%;
    margin-left: 34.14%;
}

#submitButton {
    width: 15%;
    margin-right: 35%;
}

.page-footer {
    background-color: #4db6ac;
    margin-top: 24%;
}