.grid-container {
    display: grid;
    grid-template-columns: 25% 45% 30%;
    grid-column-gap: 20px;
}

img {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.centeredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}